target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/application-*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ ###
*.iws
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries
.idea/shelf

application-*.properties

# Ignore any user created dictionaries, but include the 'shared' dictionary
.idea/dictionaries/*
!.idea/dictionaries/shared.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea/workspace.xml
